// import google roboto font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

$bg: #fffaeb;
$primary: #ff8400;
$secondary: #fff5d6;
$accent: #cf4307;
$text: #130e01;
$border: 2px solid whitesmoke;
$text-color: whitesmoke;
$font-family: 'Roboto', sans-serif;
$secondary-font: 'Agbalumo', cursive;
$radius: 20px;
$shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
$border-bottom: 3px solid #fffaeb;
$secondary-text: #7a7a7a;
$error-color: #ff0000;